<footer>
    <nav class="navbar navbar-expand-lg bg-info-subtle fixed-bottom">
        <div class="container-fluid justify-content-center">
            <ul class="navbar-nav mb-2 mb-lg-0 flex-row">
                <li class="nav-item p-2">
                    <a class="nav-link active" aria-current="page" href="/">
                        <div class="card" style="width: 4.5rem; height: 4.5rem">
                            <i class="fa-sharp fa-solid fa-house center" style="font-size:3.3rem"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link active" aria-current="page" href="/fast-food">
                        <div class="card" style="width: 4.5rem; height: 4.5rem">
                            <i class="fa-solid fa-burger center" style="font-size:3.9rem"></i>
                        </div>
                    </a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link active" aria-current="page" href="/meal-plan">
                        <div class="card" style="width: 4.5rem; height: 4.5rem">
                            <i class="fa-solid fa-bookmark center" style="font-size:3.5rem"></i>
                        </div>
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</footer>