<div>
    <select id="filterSelect">
        <option value="all"> All </option>
        <option value="vegan"> Vegan </option>
    </select>
    <button onclick="console.log(document.getElementById('filterSelect').value)" class="btn btn-primary"> Filter </button>
</div>