#logo {
    border-radius: 30%;
}

.center {
    margin: auto;
}

body {
    padding-top: 5rem;
    padding-bottom: 7rem;
}

#login {
    margin-top: 10%;
    text-align: center;
}

#signup {
    margin-top: 10%;
    text-align: center;
}

#recovery {
    margin-top: 10%;
    text-align: center;
}

#email-not-found {
    margin-top: 10%;
    text-align: center;
}

#password-reset-form {
    margin-top: 10%;
    text-align: center;
}